<table class="small-table govuk-table">
  <caption class="govuk-heading-m govuk-table__caption">Commodity footnotes</caption>
  <thead>
  <tr>
      <th scope="col">Code</th>
      <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
    <% footnotes.each do |footnote| %>
    <% next unless footnote&.code.present? %>
      <%= render footnote %>
    <% end %>
  </tbody>
</table>
