<% if footnote&.code&.present? %>
    <table class="small-table">
        <caption class="heading-medium">Commodity footnotes</caption>
        <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
          <%= render footnote %>
        </tbody>
    </table>
<% end %>
