<% if heading.leaf? %>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <div class="heading-code">
        <div class="code-text"><%= heading.display_short_code %></div>
      </div>
    </td>
    <td class="govuk-table__cell">
      <%= link_to heading.formatted_description.html_safe, heading_path(heading, request.query_parameters.symbolize_keys) %>
    </td>
  </tr>
<% else %>
  <tr class="govuk-table__row">
    <td class="heading-subtitle govuk-table__cell" colspan="2"><%= heading %></td>
  </tr>
  <%= render heading.children %>
<% end %>
