
@import "govuk-frontend/govuk/all";

@import "../src/stylesheets/legacy-grid-layout-conditionals";
@import "../src/stylesheets/colors";
@import "../src/stylesheets/variables";
@import "../src/stylesheets/functions";
//@import 'font_stack';
//@import 'measurements';
//@import 'conditionals';
//@import 'grid_layout';
//@import 'typography';
//@import 'shims';


caption {
	margin: 0 0 2em;
}
table {
	margin-bottom:2em;
}
tr {
	page-break-inside: avoid;
}
.tariff-search {
	display:none !important;
}
nav.trail {
	display:block !important;
	margin-bottom:1em;
	border-bottom:black 1px solid;
}
article dd a {
	margin-top:-1.5em;
	display:block;
}
article dd ul a {
	margin-top:0;
}
.has_children ul.visuallyhidden {
	position:static;
	left:auto;
	display:block;
}
a.print-link-without-description:after {
	content: "";
}

.hidden-print {
  display: none !important;
}

.visible-print {
  display: initial !important;
  visibility: visible !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

a[href^="/"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after {
  display: none;
}

.back-to-previous {
  display: none;
}

.js-header-toggle.menu {
  display: none;
}


.header-proposition {
  display: none;
}


#proposition-name {
  position: relative;
  top: -0.2em;
  font-size: 1.7em;
  padding-left: 0.5em;
  margin-left: 0.5em;
  border-left: 2px solid #000;
}

#proposition-links {
  display: none;
}

.js-tabs.nav-tabs {
  display: none;
}

.popup.hidden {
  display: none !important;
}

.js-tab-pane {
  display: block !important;
}

tr.hidden {
  display: none !important;
}

span.table-line {
  display: block !important;
  & + .table-line {
    margin-top: 0.5em !important;
  }
}

table.measures {
  border-collapse: collapse;
  td {
    border-collapse: collapse;
    border-bottom: 1px solid #000;
  }
}










@mixin indented-item($level) {
  $left-pos: -984px;

  @if $level == 1 {
    padding-left: px(($token-width - $token-padding));
    font-weight: bold;
    @media (min-width: $desktop-min-width) {
      padding-left: px(($token-width - $token-padding) + $token-space);
      background-position: $left-pos + $token-width 1em;
    }
  } @else {
    margin-left: px(($token-width * 2) + (($token-width / 3) * ($level - 2))) * -1;
    padding-left: px(($token-width * 2) + (($token-width / 3) * ($level - 1)));
    font-weight: normal;
    @media (min-width: $desktop-min-width) {
      margin-left: px(($token-width * 2) + ($token-width * ($level - 2))) * -1;
      padding-left: px(($token-width * 2) + ($token-width * ($level - 1)));
      background-position: $left-pos + ($token-width * $level) 1em;
    }
  }
}

@mixin indented-list($levels) {
  $indent-level: 1;

  @while $indent-level < $levels {
    &.level-#{$indent-level}, &.level-#{$indent-level} a {
      @include indented-item($indent-level);
    }
    $indent-level: $indent-level + 1;
  }
}

article.tariff {
  .tree-key {
    float:right;
    font-size: 14px;
    padding: 6px 16px;
    @media (min-width: $desktop-min-width) {
      font-size: 16px;
      padding: 8px 16px;
    }
    .key-text {
      float: right;
      margin: 5px 0 0 0.5em;
      font-size: 14px;
      @media (min-width: $desktop-min-width) {
        margin: 5px 0 0 0.5em;
      }
    }
  }
}

.commodity-tree {
  border: 1px solid $panel-colour;

  .commodity-tree-note {
    left: 0;
    right: 0;
    margin: 15px;
    color: $govuk-secondary-text-colour;
    font-size: 14px;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
    span {
      position: absolute;
      left: -9999em;
    }
    em {
      font-style: normal;
      float: left;
    }

    .level {
      width: px(($token-width - $token-padding) + $token-space);
      display: none;

      @media (min-width: $desktop-min-width) {
        display: block;
      }
    }
  }

  .commodity-tree__additional-info {
    float: right;
    width: 560px;

    em {
      font-style: normal;
      float: left;
      margin-left: 15px;

      &:first-of-type {
        margin-left: 0;
      }
    }

    .vat {
      width: 80px;
      display: none;
      text-align: right;
      display: block;

      @media (orientation: portrait) {
        display: none;
      }
    }

    .duty {
      width: 145px;
      display: block;

      @media (orientation: portrait) {
        display: none;
      }
    }

    .supplementary-units {
      width: 140px;
      text-align: right;
      display: block;

      @media (orientation: portrait) {
        display: none;
      }
    }

    .commcode {
      width: 145px;
      float: right;
      text-align: right;
      display: block;
    }
  }

  .tree-controls {
    background-color: $panel-colour;
    padding: 8px 16px;
    vertical-align: top;
    min-height: 25px;

    a {
      margin-right: 1em;
      display: inline-block;
      font-size: 14px;
      @media (min-width: $desktop-min-width) {
        font-size: 16px;
      }
    }
  }

  ul.commodities {
    @include contain-float;
    margin: 1em;
    position:relative;
    font-size: 14px;
    @media(min-width: $desktop-min-width) {
      font-size: 16px;
    }

    li {
      @include contain-float;
      @include indented-list(13);
      display: block;
      margin: 0;
      position:relative;
      word-wrap: break-word;

      @media (min-width: $desktop-min-width) {
        background-image: url("../images/commodity-indents.png");
        background-repeat: no-repeat;
      }

      &:last-child {
        border-bottom: 0;
      }

      &:last-child > a,
      &:last-child > ul {
        border-bottom: none;
      }

      &.has_children, a {
        padding-top: 0.5em;
      }

      ul, a {
        border-bottom: solid 1px #eee;
      }

      a {
        margin: 0;
        text-decoration:none;
        font-weight: normal;
        position: relative;

        &:hover {
          background-color: $highlight-colour;
        }
      }

      .commodity__info {
        float: right;
        width: 560px;
        position: absolute;
        right: 0;
        bottom: 0;

        @media (orientation: portrait) {
          width: 200px;
          text-align: right;
        }

        .lte-ie8 & {
          float: none !important;
        }

        &:after {
          clear: both;
          content: " ";
          display: table;
          zoom: 1;
        }

        .vat,
        .duty,
        .supplementary-units {
          display: none;
          float: left;
          margin-right: 15px;
          color: $govuk-text-colour;
          font-weight: normal;
          font-size: 14px;
          display: block;

          @media (orientation: portrait) {
            display: none;
          }
        }

        .vat {
          width: 80px;
          text-align: right;
        }

        .duty {
          width: 145px;
        }

        .supplementary-units {
          width: 140px;
          text-align: right;
        }
      }

      .identifier {
        font-family: ntatabularnumbers, "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: normal;
        display: inline-block;
        width: $identifier-width;
        border: 0;
        padding: 0;

        div {
          text-align: center;
          float: left;
        }
      }

      .rate {
        padding-right:em($token-padding, 14);
        width:em(60, 14);
        text-align:right;
        position:absolute;
        right:0;
        bottom:0;
      }

      article & a, .js-enabled article & a {
        display: block;
        @include contain-float;
        margin-left: 0;
        padding-left: 0;
      }
    }

    ul {
      margin: 0;
      padding-left: 0;
      clear: both;
    }
  }
}

.chapter-code, .heading-code, .commodity-code {
  font-size: 14px;
  display: inline-block;
  position: relative;
  height: 1.5625em;
  > .code-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
}
.chapter-code {
  background-color: $chapter-code-bg;
  width: $chapter-code-width;
  height: $chapter-code-height;
}
.heading-code {
  background-color: $heading-code-bg;
  width: $heading-code-width;
  height: $chapter-code-height;
}
.commodity-code {
  background-color: $commodity-code-bg;
  width: $commodity-code-width-desktop;
  height: $chapter-code-height;

  > .code-text {
    position: relative;
    width: 33.333%;
  }
}
.chapter-guide, .forum-link {
  font-size: 80%;
  margin-top: 1em;
  a {
    display: inline !important;
    margin-left: inherit !important;
  }
}
.guides-container {
  margin-left: 46px;
}

.mobile-only {
  display: none;
}

li.open {
    background-position: 0 -100px;
  }

  li:not(.has_children) .description {
    color: $govuk-link-colour;
    padding-left: px($expand-arrow-space);
    margin-left: -1 * px($expand-arrow-space);
    cursor:pointer;
    position:relative;
    width: calc(100% - 200px);

    @media (orientation: landscape) {
      width: calc(100% - #{$identifier-width-desktop + 65px});
    }

    &.without_right_margin {
      margin: 0 !important;
    }
  }

  li.has_children {
    .description {
      color: $govuk-link-colour;
      padding-left: px($expand-arrow-space);
      margin-left: -1 * px($expand-arrow-space);
      background-image: url("../images/expand-collapse-transparent_commodity-tree.png");
      background-position: 0 4px;
      background-repeat: no-repeat;
      cursor:pointer;
      position:relative; /* to give z-index */
      width: calc(100% - 200px);

      @media (orientation: landscape) {
        width: calc(100% - #{$identifier-width-desktop + 45px});
      }

      &.without_right_margin {
        margin: 0 !important;
      }
    }

   .description:hover,
   .description-hover {
      color: $govuk-link-hover-colour;
    }

    a .description {
      margin-left: 0;
      padding-left:0;
      background:none;
    }

    .open {
      background-position:0 -386px;
    }

    .sub_heading_commodity_code_block {
      color: #696969;
      width: 150px;
      font-weight: normal;
      font-family: ntatabularnumbers, "Helvetica Neue", Arial, Helvetica, sans-serif;

      .chapter-code, .heading-code, .commodity-code {
        float: left;
      }

      .code-text {
        text-align: center;
      }

      @media (max-width: 640px) {
        display: none;
      }
    }
  }

  .conditions,
  .footnotes,
  .additional-codes {
    display:none;
    clear:both;
  }

  .date-filter-search {
    display:none;
  }

  .tooltip-description {
    display:none;
    position:absolute;
    width:200px;
    padding:px($top-level-padding);
    z-index:1;
    font-size:em(14, 16);
    background:#fff;
    border:solid 1px #bbb;

    p {
      margin:0;
      padding:$top-level-padding;
    }
  }

.tree-controls {
  display: none;
}

.commodity-tree-note {
  background: $table-header-bg;
  margin: 0 !important;
  padding: 15px;
}

.pagination {
  display: none;
}
