

// .column-eighth,
// .column-one-eighth {
//   @include grid-column(1 / 8);
// }.column-seven-eighth {
//   @include grid-column(7 / 8);
// }
 .pagination {
   text-align: center;
 }

$govuk-global-styles: true;
$govuk-fonts-path: "~govuk-frontend/govuk/assets/fonts/";
// $govuk-fonts-path: "govuk-frontend/govuk/assets/fonts/";

@import "govuk-frontend/govuk/all";

// Third party
@import "select2";
@import "../src/stylesheets/vendor/sass-mq";

// 'legacy' GOVUK styles
@import "../src/stylesheets/legacy-base";
@import "../src/stylesheets/legacy-colours-palette";
@import "../src/stylesheets/legacy-colours-applied";

// Trade Tariff components
@import "../src/stylesheets/variables";
@import "../src/stylesheets/functions";
@import "../src/stylesheets/colors";
@import "../src/stylesheets/header";
@import "../src/stylesheets/footer";
@import "../src/stylesheets/grid_extensions";
@import "../src/stylesheets/commodity-codes";
@import "../src/stylesheets/tariff-breadcrumbs";
@import "../src/stylesheets/sections-list";
@import "../src/stylesheets/tabs";
@import "../src/stylesheets/tables";
@import "../src/stylesheets/measures";
@import "../src/stylesheets/a-z-index";
@import "../src/stylesheets/country-picker";
@import "../src/stylesheets/commodity-tree";
@import "../src/stylesheets/current_rate";
@import "../src/stylesheets/exchange_rate";
@import "../src/stylesheets/header_hero";
// @import "../src/stylesheets/
// @import "../src/stylesheets/
// @import "../src/stylesheets/
// @import "../src/stylesheets/
// @import "../src/stylesheets/
// @import "../src/stylesheets/
// @import "../src/stylesheets/
// @import "../src/stylesheets/


@import "../src/stylesheets/mask";
@import "../src/stylesheets/tariff-reloaded"; // TODO rename me
// @import "tariff.scss";
