<li>
  <div class="commodity">
    <%= goods_nomenclature.goods_nomenclature_item_id %>
    <a href="<%= commodity_path(goods_nomenclature) %>"><%= goods_nomenclature.description.html_safe %></a>
  </div>
</li>
