<%= render partial: 'search/quotas/form', locals: { search_form: @result.search_form } %>
<% if @result.search_result&.any? %>
  <article class="search-results">
    <table class="small-table quota-results">
      <h1 class="heading-medium">Quota search results</h1>
      <thead>
        <tr>
          <th>Order number</th>
          <th>Commodity code</th>
          <th>Country</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'search/quotas/definition', collection: @result.search_result %>
      </tbody>
    </table>
  </article>
<% elsif @result.search_form.large_result? || @result.with_errors %>
  <article class="search-results">
    <h1 class="heading-medium">Sorry, there is a problem with the search query. Please specify one or more search criteria.</h1>
  </article>
<% elsif @result.search_form.present? %>
  <br/>
  <article class="search-results">
    <h1 class="heading-medium">There are no matching results</h1>
  </article>
<% end %>
