<table class="small-table">
  <caption>
    <h5 class="heading-small"><%= condition_group[:condition] %></h5>
  </caption>
  <thead>
  <tr>
    <th>Requirement</th>
    <th>Action</th>
    <th>Duty expression</th>
  </tr>
  </thead>
  <tbody>
  <% conditions.each do |condition| %>
    <tr>
      <td>Greater than or equal to <%= condition.requirement %></td>
      <td><%= condition.action %></td>
      <td class="numerical">
        <%= condition.duty_expression %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
