<table class="small-table govuk-table">
  <caption class="govuk-table__caption"><%= condition_group[:condition] %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Requirement</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% conditions.each do |condition| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Greater than or equal to <%= condition.requirement.to_s.html_safe %></td>
        <td class="govuk-table__cell"><%= condition.action %></td>
      </tr>
    <% end %>
  </tbody>
</table>
