---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/monetary_exchange_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"973ea81eda3e1e732d49b488da171062"
    body:
      encoding: UTF-8
      string: '[{"child_monetary_unit_code":"GBP","exchange_rate":"0.8161","operation_date":"2013-01-30","validity_start_date":"2013-01-01T00:00:00.000Z"},{"child_monetary_unit_code":"GBP","exchange_rate":"0.8536","operation_date":"2013-03-01","validity_start_date":"2013-02-01T00:00:00.000Z"},{"child_monetary_unit_code":"GBP","exchange_rate":"0.8633","operation_date":"2013-03-26","validity_start_date":"2013-03-01T00:00:00.000Z"},{"child_monetary_unit_code":"GBP","exchange_rate":"0.8516","operation_date":"2013-04-29","validity_start_date":"2013-04-01T00:00:00.000Z"},{"child_monetary_unit_code":"GBP","exchange_rate":"0.84[...]
[...]
