<% if TradeTariffFrontend.currency_picker_enabled? %>
  <fieldset class="govuk-fieldset js-currency-picker govuk-!-font-size-16 govuk-form-group inline">
    <span class="fields">
      <select id="tariff_currency" name="currency" class="custom-select">
        <%= options_for_select(currency_options, @search.currency) %>
      </select>&emsp;
      <a class="submit" role="button" href="#set-currency" title="set currency" rel="nofollow">Set currency</a>
    </span>
    <span class="text <%= @section_css %>">
      In
      <%= @search.currency_name %>&emsp;
      <a href="#change-currency" title="change currency" rel="nofollow"><%= change_currency_message %></a>
    </span>
  </fieldset>
<% end %>
