<details class="govuk-details govuk-!-margin-bottom-3" role="group">
  <summary class="govuk-details__summary " role="button" aria-controls="details-content-01908874-2601-4e09-a7be-49931852e085" aria-expanded="false">
    <span class="govuk-details__summary-text govuk-!-font-size-16">What are the main types of tariffs and charges</span>
  </summary>
  <div class="govuk-details__text govuk-!-font-size-16" id="details-content-01908874-2601-4e09-a7be-49931852e085" aria-hidden="false">

    <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16" role="group">
      <summary class="govuk-details__summary" role="button" aria-controls="details-content-0fe23c55-682d-42e2-ac0d-30ee20a30264" aria-expanded="false">
        <span class="govuk-details__summary-text">
          Supplementary unit
        </span>
      </summary>
      <div class="govuk-details__text" id="details-content-0fe23c55-682d-42e2-ac0d-30ee20a30264" aria-hidden="true">
        This is used when an additional measurement unit is needed, for example, the weight
          as
          well as the quantity of the products. The importer might need to declare this information. The product
          might not be allowed into the UK if the supplementary unit is not given. <a class="govuk-link" href="https://www.uktradeinfo.com/TradeTools/ICN/Pages/ICNSupplementaryUnits.aspx">Check a list of
            supplementary units and their descriptions</a>.
      </div>
    </details>

    <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16" role="group">
      <summary class="govuk-details__summary" role="button" aria-controls="details-content-67adfc6f-e58f-4dc3-960f-6ccd20f16a0f" aria-expanded="false">
        <span class="govuk-details__summary-text">Value Added Tax (VAT)</span>
      </summary>
      <div class="govuk-details__text" id="details-content-67adfc6f-e58f-4dc3-960f-6ccd20f16a0f" aria-hidden="true">
        <a class="govuk-link" href="https://www.gov.uk/guidance/vat-imports-acquisitions-and-purchases-from-abroad">VAT</a>
        is a national tax charged in addition to any other duties that apply.
      </div>
    </details>

    <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16" role="group">
      <summary class="govuk-details__summary" role="button" aria-controls="details-content-89df148c-eba0-4837-bcd1-eef4efc3bad7" aria-expanded="false">
        <span class="govuk-details__summary-text">Third country duty</span>
      </summary>
      <div class="govuk-details__text" id="details-content-89df148c-eba0-4837-bcd1-eef4efc3bad7" aria-hidden="true">
        A third country duty is the duty payable in the absence of any other type of tariff measure.
      </div>
    </details>

    <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16" role="group">
      <summary class="govuk-details__summary" role="button" aria-controls="details-content-0281f1a7-6233-477b-9025-b67a53caef9f" aria-expanded="false">
        <span class="govuk-details__summary-text">
          Tariff preference
        </span>
      </summary>
      <div class="govuk-details__text govuk-!-font-size-16" id="details-content-0281f1a7-6233-477b-9025-b67a53caef9f" aria-hidden="true">
        A <a class="govuk-link" href="https://www.gov.uk/government/publications/notice-826-tariff-preferences-imports/notice-826-tariff-preferences-imports">tariff
          preference</a> means that you pay a lower or nil rate of import duty on your goods. To qualify, goods
        must
        meet the rules of origin.
      </div>
    </details>

  </div>
</details>