<% section_note ||= false
chapter_note ||= false %>

<% if section_note || chapter_note %>
  <article id="notes" class="notes">
    <% if chapter_note %>
      <div>
        <% if section_note %>
          <h3 class="govuk-heading-s">Chapter notes</h3>
        <% else %>
          <h2 class="govuk-heading-s">There are important chapter notes for this part of the tariff:</h2>
        <% end %>
        <%= govspeak(chapter_note) %>
      </div>
    <% end %>
    <% if section_note %>
      <div>
        <% if chapter_note %>
          <h3 class="govuk-heading-s">Section notes</h3>
        <% else %>
          <h2 class="govuk-heading-s">There are important section notes for this part of the tariff:</h2>
        <% end %>
        <%= govspeak(section_note) %>
      </div>
    <% end %>

  </article>
<% end %>
