<%- phase, text = ENV['NOTICE_BANNER_LINK'].split('|') -%>
<div class="phase-banner">
  <p>
    <strong class="phase-tag"><%= phase.upcase %></strong>
    <span><%= govspeak(text).gsub(/<p>|<\/p>/, '').html_safe %></span>
  </p>
</div>
