<div class="phase-banner">
  <p>
    <strong class="phase-tag">NOTICE</strong>
    <span>This service is currently being updated, some data might be missing, please <a class="govuk-link" href="<%= ENV['NOTICE_BANNER_LINK']%>">click here</a> for further details.</span>
  </p>
</div>
