<tr class="govuk-table__row">
  <td class="numeral govuk-table__cell"><%= section.numeral %></td>
  <td class="chapters govuk-table__cell"><%= section.chapters_title %></td>
  <td class="title govuk-table__cell"><%= link_to section, section_path(section, request.query_parameters.symbolize_keys), title: "Section #{section.position}" %></td>
</tr>
