<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= sections_url(format: :json) %>' title='Section list in JSON format' />
<% end %>

<h2 class="govuk-heading-m">All sections</h2>

<section class="sections">
  <table class="tariff-table govuk-table">
    <colgroup>
      <col width="*">
      <col width="150">
      <col width="150">
    </colgroup>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          Section title
          <% if TradeTariffFrontend.download_pdf_enabled? %>
            <div class="download-pdf pull-right"><%= link_to 'Download', download_latest_pdf_url, rel: 'nofollow', target: '_blank' %></div>
          <% end %>
        </th>
        <th scope="col" class="govuk-table__header">Section</th>
        <th scope="col" class="govuk-table__header">Chapters</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%= render @sections %>
    </tbody>
  </table>
</section>


<!--
Tariff Updates:

<% @tariff_updates.each do |tariff_update| %>
<%= tariff_update %>
<% end %>
-->
