<div class="exchange-rate-page">
  <header class="header-hero">
    <div class="header-hero__title">
      <p class="lede header-hero__title-context">
        Guidance
      </p>
      <h1 class="heading-xlarge header-hero__title-text">
        Monthly euro conversion rates for calculating duty
      </h1>
    </div>

    <p class="header-hero__secondary-info">Updated 30 October 2018</p>
  </header>

  <div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="column-full-mobile-only column-one-quarter-desktop-only">
      <nav role="navigation" class="contents-list" data-module="track-click">
        <h2>Contents</h2>

        <ol class="contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#rates-for-2018" data-track-options="{&quot;dimension29&quot;:&quot;Rates for 2018&quot;}" href="#rates-for-2018">Rates for 2018</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#rates-for-2017" data-track-options="{&quot;dimension29&quot;:&quot;Rates for 2017&quot;}" href="#rates-for-2017">Rates for 2017</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#rates-for-2016" data-track-options="{&quot;dimension29&quot;:&quot;Rates for 2016&quot;}" href="#rates-for-2016">Rates for 2016</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#rates-for-2015" data-track-options="{&quot;dimension29&quot;:&quot;Rates for 2015&quot;}" href="#rates-for-2015">Rates for 2015</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#rates-for-2014" data-track-options="{&quot;dimension29&quot;:&quot;Rates for 2014&quot;}" href="#rates-for-2014">Rates for 2014</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#rates-for-2013" data-track-options="{&quot;dimension29&quot;:&quot;Rates for 2013&quot;}" href="#rates-for-2013">Rates for 2013</a>
          </li>
        </ol>
      </nav>
    </div>

    <!-- <div class="print-wrapper">
      <div class="print-meta-data">
        <p>
          <img class="print-meta-data-licence" src="https://assets.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png">
        </p>
        <p>
          © Crown copyright 2018
        </p>
        <p>
          This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
        </p>
        <p>
          Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
        </p>
        <p>
          This publication is available at https://www.gov.uk/government/publications/rates-and-allowances-monthly-euro-conversion-rates-for-calculating-duty/monthly-euro-conversion-rates-for-calculating-duty
        </p>
      </div>
    </div> -->

    <div class="column-full-mobile-only column-three-quarters-desktop-only">
      <div class="gem-c-govspeak-html-publication">
        <div class="gem-c-govspeak govuk-govspeak direction-ltr">
          <div class="govspeak">
            <p>These industrial euro conversion rates are for calculating duty, not converting the cost amount of importing into sterling.</p>

            <p>The conversion should be used when consulting the tariff and when the duty rates are expressed in euros. This is different to the monthly exchange rates which are used for converting the amounts associated with costs of importing to sterling, such as the item price or freight costs.</p>

            <div class="current-rate">
              <div class="data">
                <span class="data-item bold-xlarge current-rate__pound">
                  1 GBP
                  <span class="current-rate__big-arrow"></span>
                  <span class="current-rate__accent">
                    1.12710346 EUR
                  </span>
                </span>
                <span class="data-item bold-large current-rate__inverse">
                  1 EUR
                  <span class="current-rate__small-arrow"></span>
                  0.88723 GBP
                </span>
              </div>
            </div>

            <h2 class="heading-medium" id="rates-for-2018">Rates for 2018</h2>

            <table>
              <thead>
                <tr>
                  <th>Effective date</th>
                  <th>Multiply euros</th>
                  <th>Or divide euros</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 January 2018</td>
                  <td>0.88723</td>
                  <td>1.12710346</td>
                </tr>
                <tr>
                  <td>1 February 2018</td>
                  <td>0.87940</td>
                  <td>1.13713896</td>
                </tr>
                <tr>
                  <td>1 March 2018</td>
                  <td>0.87820</td>
                  <td>1.13869278</td>
                </tr>
                <tr>
                  <td>1 April 2018</td>
                  <td>0.87605</td>
                  <td>1.14148736</td>
                </tr>
                <tr>
                  <td>1 May 2018</td>
                  <td>0.87700</td>
                  <td>1.14025086</td>
                </tr>
                <tr>
                  <td>1 June 2018</td>
                  <td>0.87143</td>
                  <td>1.14753910</td>
                </tr>
                <tr>
                  <td>1 July 2018</td>
                  <td>0.88520</td>
                  <td>1.12968821</td>
                </tr>
                <tr>
                  <td>1 August 2018</td>
                  <td>0.88823</td>
                  <td>1.12583452</td>
                </tr>
                <tr>
                  <td>1 September 2018</td>
                  <td>0.90680</td>
                  <td>1.10277900</td>
                </tr>
                <tr>
                  <td>1 October 2018</td>
                  <td>0.88730</td>
                  <td>1.12701454</td>
                </tr>
                <tr>
                  <td>1 November 2018</td>
                  <td>0.88788</td>
                  <td>1.12627833</td>
                </tr>
              </tbody>
            </table>

            <h2 class="heading-medium" id="rates-for-2017">Rates for 2017</h2>

            <table>
              <thead>
                <tr>
                  <th>Effective date</th>
                  <th>Multiply euros</th>
                  <th>Or divide euros</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 January 2017</td>
                  <td>0.85300</td>
                  <td>1.17233294</td>
                </tr>
                <tr>
                  <td>1 February 2017</td>
                  <td>0.85170</td>
                  <td>1.17412234</td>
                </tr>
                <tr>
                  <td>1 March 2017</td>
                  <td>0.84503</td>
                  <td>1.18338994</td>
                </tr>
                <tr>
                  <td>1 April 2017</td>
                  <td>0.86385</td>
                  <td>1.15760838</td>
                </tr>
                <tr>
                  <td>1 May 2017</td>
                  <td>0.84473</td>
                  <td>1.18381021</td>
                </tr>
                <tr>
                  <td>1 June 2017</td>
                  <td>0.87093</td>
                  <td>1.14819790</td>
                </tr>
                <tr>
                  <td>1 July 2017</td>
                  <td>0.88525</td>
                  <td>1.12962440</td>
                </tr>
                <tr>
                  <td>1 August 2017</td>
                  <td>0.89568</td>
                  <td>1.11647017</td>
                </tr>
                <tr>
                  <td>1 September 2017</td>
                  <td>0.92965</td>
                  <td>1.07567364</td>
                </tr>
                <tr>
                  <td>1 October 2017</td>
                  <td>0.87635</td>
                  <td>1.14109659</td>
                </tr>
                <tr>
                  <td>1 November 2017</td>
                  <td>0.88633</td>
                  <td>1.12824794</td>
                </tr>
                <tr>
                  <td>1 December 2017</td>
                  <td>0.89538</td>
                  <td>1.11684424</td>
                </tr>
              </tbody>
            </table>

            <h2 class="heading-medium" id="rates-for-2016">Rates for 2016</h2>

            <table>
              <thead>
                <tr>
                  <th>Effective date</th>
                  <th>Multiply euros</th>
                  <th>Or divide euros</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 January 2016</td>
                  <td>0.72985</td>
                  <td>1.37014455</td>
                </tr>
                <tr>
                  <td>1 February 2016</td>
                  <td>0.75965</td>
                  <td>1.31639571</td>
                </tr>
                <tr>
                  <td>1 March 2016</td>
                  <td>0.78920</td>
                  <td>1.26710593</td>
                </tr>
                <tr>
                  <td>1 April 2016</td>
                  <td>0.78450</td>
                  <td>1.27469726</td>
                </tr>
                <tr>
                  <td>1 May 2016</td>
                  <td>0.77475</td>
                  <td>1.29073895</td>
                </tr>
                <tr>
                  <td>1 June 2016</td>
                  <td>0.76245</td>
                  <td>1.31156141</td>
                </tr>
                <tr>
                  <td>1 July 2016</td>
                  <td>0.82720</td>
                  <td>1.20889749</td>
                </tr>
                <tr>
                  <td>1 August 2016</td>
                  <td>0.83875</td>
                  <td>1.19225037</td>
                </tr>
                <tr>
                  <td>1 September 2016</td>
                  <td>0.85476</td>
                  <td>1.16991904</td>
                </tr>
                <tr>
                  <td>1 October 2016</td>
                  <td>0.86208</td>
                  <td>1.15998515</td>
                </tr>
                <tr>
                  <td>1 November 2016</td>
                  <td>0.89905</td>
                  <td>1.11228519</td>
                </tr>
                <tr>
                  <td>1 December 2016</td>
                  <td>0.85303</td>
                  <td>1.17229171</td>
                </tr>
              </tbody>
            </table>

            <h2 class="heading-medium" id="rates-for-2015">Rates for 2015</h2>

            <table>
              <thead>
                <tr>
                  <th>Effective date</th>
                  <th>Multiply euros</th>
                  <th>Or divide euros</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 January 2015</td>
                  <td>0.78470</td>
                  <td>1.27437237</td>
                </tr>
                <tr>
                  <td>1 February 2015</td>
                  <td>0.74660</td>
                  <td>1.33940530</td>
                </tr>
                <tr>
                  <td>1 March 2015</td>
                  <td>0.73280</td>
                  <td>1.36462882</td>
                </tr>
                <tr>
                  <td>1 April 2015</td>
                  <td>0.72980</td>
                  <td>1.37023842</td>
                </tr>
                <tr>
                  <td>1 May 2015</td>
                  <td>0.71500</td>
                  <td>1.39860140</td>
                </tr>
                <tr>
                  <td>1 June 2015</td>
                  <td>0.70700</td>
                  <td>1.41442716</td>
                </tr>
                <tr>
                  <td>1 July 2015</td>
                  <td>0.71230</td>
                  <td>1.40390285</td>
                </tr>
                <tr>
                  <td>1 August 2015</td>
                  <td>0.70530</td>
                  <td>1.41783638</td>
                </tr>
                <tr>
                  <td>1 September 2015</td>
                  <td>0.73120</td>
                  <td>1.36761488</td>
                </tr>
                <tr>
                  <td>1 October 2015</td>
                  <td>0.73520</td>
                  <td>1.36017410</td>
                </tr>
                <tr>
                  <td>1 November 2015</td>
                  <td>0.72480</td>
                  <td>1.37969095</td>
                </tr>
                <tr>
                  <td>1 December 2015</td>
                  <td>0.70280</td>
                  <td>1.42287991</td>
                </tr>
              </tbody>
            </table>

            <h2 class="heading-medium" id="rates-for-2014">Rates for 2014</h2>

            <table>
              <thead>
                <tr>
                  <th>Effective date</th>
                  <th>Multiply euros</th>
                  <th>Or divide euros</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 January 2014</td>
                  <td>0.83490</td>
                  <td>1.19774823</td>
                </tr>
                <tr>
                  <td>1 February 2014</td>
                  <td>0.82210</td>
                  <td>1.21639703</td>
                </tr>
                <tr>
                  <td>1 March 2014</td>
                  <td>0.82260</td>
                  <td>1.21565767</td>
                </tr>
                <tr>
                  <td>1 April 2014</td>
                  <td>0.82770</td>
                  <td>1.20816721</td>
                </tr>
                <tr>
                  <td>1 May 2014</td>
                  <td>0.82280</td>
                  <td>1.21536218</td>
                </tr>
                <tr>
                  <td>1 June 2014</td>
                  <td>0.80990</td>
                  <td>1.23472034</td>
                </tr>
                <tr>
                  <td>1 July 2014</td>
                  <td>0.79910</td>
                  <td>1.25140783</td>
                </tr>
                <tr>
                  <td>1 August 2014</td>
                  <td>0.79240</td>
                  <td>1.26198889</td>
                </tr>
                <tr>
                  <td>1 September 2014</td>
                  <td>0.79400</td>
                  <td>1.25944584</td>
                </tr>
                <tr>
                  <td>1 October 2014</td>
                  <td>0.78070</td>
                  <td>1.28090175</td>
                </tr>
                <tr>
                  <td>1 November 2014</td>
                  <td>0.79095</td>
                  <td>1.26430242</td>
                </tr>
                <tr>
                  <td>1 December 2014</td>
                  <td>0.79095</td>
                  <td>1.26430242</td>
                </tr>
              </tbody>
            </table>

            <h2 class="heading-medium" id="rates-for-2013">Rates for 2013</h2>

            <table>
              <thead>
                <tr>
                  <th>Effective date</th>
                  <th>Multiply euros</th>
                  <th>Or divide euros</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 January 2013</td>
                  <td>0.81610</td>
                  <td>1.22534003</td>
                </tr>
                <tr>
                  <td>1 February 2013</td>
                  <td>0.85360</td>
                  <td>1.17150890</td>
                </tr>
                <tr>
                  <td>1 March 2013</td>
                  <td>0.86330</td>
                  <td>1.15834588</td>
                </tr>
                <tr>
                  <td>1 April 2013</td>
                  <td>0.85160</td>
                  <td>1.17426021</td>
                </tr>
                <tr>
                  <td>1 May 2013</td>
                  <td>0.84580</td>
                  <td>1.18231260</td>
                </tr>
                <tr>
                  <td>1 June 2013</td>
                  <td>0.85695</td>
                  <td>1.16692922</td>
                </tr>
                <tr>
                  <td>1 July 2013</td>
                  <td>0.84820</td>
                  <td>1.17896722</td>
                </tr>
                <tr>
                  <td>1 August 2013</td>
                  <td>0.86340</td>
                  <td>1.15821172</td>
                </tr>
                <tr>
                  <td>1 September 2013</td>
                  <td>0.86320</td>
                  <td>1.15848007</td>
                </tr>
                <tr>
                  <td>1 October 2013</td>
                  <td>0.84180</td>
                  <td>1.18793062</td>
                </tr>
                <tr>
                  <td>1 November 2013</td>
                  <td>0.85670</td>
                  <td>1.16726976</td>
                </tr>
                <tr>
                  <td>1 December 2013</td>
                  <td>0.83405</td>
                  <td>1.19896889</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div data-sticky-element class="govuk-sticky-element">
      <a class="app-c-back-to-top dont-print" href="#contents">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Contents
      </a>
    </div>
  </div>
</div>
