<header class="page-header group">
  <div>
    <h1 class="govuk-heading-l">We are experiencing technical difficulties</h1>
  </div>
</header>
<div class="article-container">
  <article role="article" class="group">
    <div class="inner">
      <p>Please try again in a few moments.</p>
    </div>
  </article>
</div>
