.chapter-code, .heading-code, .commodity-code {
  @include govuk-font($size: 14, $weight: normal);
  display: inline-block;
  position: relative;
  height: 1.5625em;
  @media (min-width: $desktop-min-width) {
    font-size: 16px;
  }
  > .code-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: $govuk-text-colour;
  }
}
.chapter-code {
  background-color: $chapter-code-bg;
  width: $chapter-code-width;
  height: $chapter-code-height;
  margin-right: 5px;
}
.heading-code {
  background-color: $heading-code-bg;
  width: $heading-code-width;
  height: $chapter-code-height;
  margin-right: 5px;
}
.commodity-code {
  width: $commodity-code-width;
  @media (min-width: $desktop-min-width) {
    width: $commodity-code-width-desktop;
  }
  height: $chapter-code-height;

  > .code-text {
    position: relative;
    width: calc(33.333% - 5px);
    background-color: $commodity-code-bg;
    height: 25px;

    & + .code-text {
      margin-left: 5px;
    }
  }
}
.chapter-guide, .forum-link {
  font-size: 80%;
  margin-top: 1em;
  a {
    display: inline !important;
    margin-left: inherit !important;
  }
}
.guides-container {
  margin-left: 46px;
}
