.current-rate {
  margin: 4em auto;
  width: auto;
  text-align: center;

  @media (max-width: 980px) {
    .data-item.current-rate__pound {
      font-size: 32px;
    }

    .data-item.current-rate__inverse {
      font-size: 24px;
    }
  }

  @media (max-width: 631px) {
    .data-item.current-rate__pound {
      font-size: 24px;
    }

    .data-item.current-rate__inverse {
      font-size: 18px;
    }
  }
}

.current-rate__big-arrow {
  height: 0.666666666em;
  width: 0.666666666em;
  background: image-url("../../assets/images/arrow-right.png") no-repeat center center;
  background-size: 100%;
  margin: 0 10px;
  display: inline-block;
}

.current-rate__small-arrow {
  height: 0.666666666em;
  width: 0.666666666em;
  background: image-url("../../assets/images/arrow-right-small.png") no-repeat center center;
  background-size: 100%;
  margin: 0 7px;
  display: inline-block;
}

.current-rate__inverse{
  color: $current-rate-secondary-color;
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
}

.current-rate__accent {
  color: $current-rate-accent-color;
}

.data-item {
  display: block;
  line-height: 1;
}
