#footer {
  border-top: 10px solid govuk-colour("blue");
  @media (min-width: $desktop-min-width) {
    padding-bottom: 30px;
  }

  .govuk-footer__list--columns-2 {
    -webkit-column-gap: $govuk-gutter * 2;
    -moz-column-gap: $govuk-gutter * 2;
    column-gap: $govuk-gutter * 2;
  }

  .govuk-footer__meta-item {
    padding-left: $govuk-gutter-half;
    padding-right: $govuk-gutter-half;
  }

  .govuk-footer__row {
    width: 100%;

    .one-third {
      width: 33.33%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      h2, ul {
        margin-left: $govuk-gutter-half;
        margin-right: $govuk-gutter-half;
      }
    }
  }

  a[rel="external"]:after {
    content: '\A0\A0\A0\A0\A0\A0';
    background-position: right 1px;
    @media (min-width: $desktop-min-width) {
      content: '\A0\A0\A0\A0\A0';
      background-position: right 3px;
    }
  }
}
