.govuk-select {
  &.govuk-select--width-10 {
    @extend .govuk-input--width-10;
    width: 100% !important;
  }

  &.govuk-select--width-20 {
    @extend .govuk-input--width-20;
    width: 100% !important;
  }
}

#tariff_date_date {
  width: 140px;
  margin-left: 15px;
}

#search-datepicker-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 15px;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 3px 6px;
  max-width: 3em;
  
  svg {
    height: 2em;
    width: auto;
  }

  &:focus {
    background: $govuk-focus-colour;
    border-color: $govuk-input-border-colour;
  }
}

.datepickerDialog {
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-size: 19px;
  
  border: 2px solid black;
  min-width: 8em;
  margin: 0;
  padding: 0.369em 0.25em;
  padding-right: 2em;
  max-width: 100%;
  border-radius: 0 !important;
  display: inline-block;

  background-color: white;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBvbHlsaW5lIGZpbGw9Im5vbmUiIHBvaW50cz0iMjEsOC41IDEyLDE3LjUgMyw4LjUgIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+");
  background-position: calc(100% - 0.5em) center;
  background-repeat: no-repeat;
  background-size: 1em auto;
}

.custom-select:focus {
  outline: 3px solid #ffdd00;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}

.custom-select:disabled,
.custom-select[readonly] {
  background-color: #ccc;
  color: black;
}

.autocomplete__wrapper {
  input {
    margin: 0 !important;
    padding-right: 2em !important;
  }

  li {
    min-height: 25px !important;
    margin: 0 !important;
  }

  .autocomplete__arrow {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBvbHlsaW5lIGZpbGw9Im5vbmUiIHBvaW50cz0iMjEsOC41IDEyLDE3LjUgMyw4LjUgIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 0.5em;

    @media (max-width: 640px) {
      top: 8px;
    }
  }
}