.tariff-search {
  margin-bottom: 20px;
}

.search-header {
  .searchfield {
    position: relative;
  }
  input, .select2-selection {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 10px;
    height: 50px;
  }
  .select2-selection {
    .select2-selection__placeholder, .select2-selection__rendered {
      width: 100%;
      padding: 0;
      line-height: 50px;
    }
    .select2-selection__placeholder {
      height: 50px;
    }
    .select2-selection__rendered {
      height: 49px;
      @include govuk-font(19);
    }
    .select2-selection__arrow {
      display: none;
    }
  }
  .search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    overflow: visible;
  }
  input.govuk-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 50px;
    height: 50px;
    text-indent: -5000px;
    background-image: url('../images/search-button.png');
    background-repeat: no-repeat;
    background-position: -12.5% 50%;
  }
  .govuk-form-group.searchfield, .govuk-form-group.date-picker {
    margin-bottom: 15px;
  }
  .change-date-link {
    white-space: nowrap;
  }
  fieldset.inline {
    display: inline-block;
    width: auto;
    @include govuk-font(false);
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
}

a.back-to-previous {
  color: $govuk-text-colour;
  font-size: 14px;
  display: block;
  text-decoration: none;
  border-bottom: #0b0c0c 1px solid;
  width: 2.25em;
  background: url('../images/icon-caret-left.png') left 0.2em no-repeat;
  padding-left: 0.75em;
  text-align: right;
  margin: 2em 0 0 0;
  overflow: hidden;
  &:active, &:hover, &:focus {
    color: $govuk-text-colour;
  }
  @media (min-width: $desktop-min-width) {
    font-size: 16px;
  }
}
