.quota-search {
  .govuk-grid-row {
    margin-bottom: 0.5em;

    @media (min-width: 641px) {
      margin-bottom: 1em;
    }
  }

  [class*="column"] > label {
    line-height: 2em;
  }

  .multiple-choice--inline {
    clear: none;
    margin-right: 10px;
  }

  .form-control--100 {
    @media (min-width: 641px) {
      width: 100%;
    }
  }

  .form-control--small {
    @media (min-width: 641px) {
      width: 200px;
    }
  }

  .form-control--tiny {
    @media (min-width: 641px) {
      width: 100px;
    }
  }

  input[type="submit"] {
    margin-top: 1.5em;

    @media (min-width: 641px) {
      margin-top: 0;
    }
  }
}
