.tariff-breadcrumbs {
  position: relative;
  padding: 1em;
  margin: 0 0 20px 0;
  background-color: govuk-colour("light-grey", "grey-4");
  &::after {
    content:"";
    display:block;
    clear:both;
  }
  nav {
    ul {
      position: relative;
      list-style: none;
      padding-left: $breadcrumb-indent;
      margin: 5px 0 0;
      @media (min-width: $desktop-min-width) {
        padding-left: $breadcrumb-indent-desktop;
      }
      li {
        position: relative;
        display: block;
        line-height: 30px;
        word-wrap: break-word;
        font-size: 1.11111rem;
        min-height: 30px;

        p,
        a {
          display: block !important;
          //max-width: calc(100% - 200px);
          font-size: 16px;
          //font-size: 1rem;
          min-height: 30px;

          @media (min-width: $desktop-min-width) {
            font-size: 1em;
          }
        }

        .download-pdf,
        .feed {
          a {
            display: inline-block !important;
          }
        }

        &::before, &::after {
          content: "";
          position: absolute;
          left: -12px;
        }
        &::before {
          border-top: 1px solid #000;
          top: 15px;
          width: 8px;
          height: 0;
        }
        &::after {
          border-left: 1px solid #000;
          height: 100%;
          width: 0px;
          top: 7px;
        }
        &:last-child::after {
          height: 8px;
        }

        .line-text {
          line-height: 30px;
          min-height: 30px;
          padding-right: 200px;
        }

        &.chapter-and-heading-li {
          .chapter-code {
            margin-right: 0;
          }
        }

        ul.commodities {
          padding-left: $breadcrumb-indent;
          @media (min-width: $desktop-min-width) {
            padding-left: $breadcrumb-indent-desktop;
          }
        }
        h1 {
          display: inline;
        }
        p {
          display: inline;
          margin-bottom: 0;
        }
      }
    }
    @media (max-width: $mobile-max-width) {
      .chapter-code ~ ul ul {
        padding-left: 0;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }

    .feed {
      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
      @media (min-width: $desktop-min-width) {
        float: right;
        margin-top: 2em;

        &::before, &::after {
          content: '';
        }
      }
      a {
        background-image: url('../images/feed-icon-black.png');
        background-position: 0.2em center;
        background-repeat: no-repeat;
        padding-left: 20px;
        max-width: none;
        display: inline-block !important;
        font-size: 1rem;
        
        @media (min-width: $desktop-min-width) {
          background-image: url('../images/feed-icon-black.png');
          background-position: 0.2em center;
          background-repeat: no-repeat;
          padding-left: 25px;
        }
      }
    }
  }
}

.download-pdf {
  @media (min-width: $desktop-min-width) {
    float: right;
    margin-right: 1.25em;
    margin-top: 2em;

    &::before, &::after {
      content: '';
    }
  }
  a {
    background: url('../images/icon-file-download.png') 0.2em center no-repeat;
    background-size: 14px 14px;
    padding-left: 20px;
    max-width: none !important;
    display: inline-block !important;
    font-size: 1rem;
    
    @media (min-width: $desktop-min-width) {
      background: url('../images/icon-file-download.png') 0.2em center no-repeat;
      background-size: 16px 16px;
      padding-left: 25px;
    }
  }
}


.full-code {
  width: 172px;
  font-size: 16px;
  font-size: 1rem;

  @media (min-width: 601px) {
    position: absolute;
    right: 0;
    top: 0;
  }

  > div {
    margin-top: 0;
    vertical-align: top;
    display: inline-block;
  }

  .chapter-code,
  .heading-code {
    width: 30px;
    height: 30px;
    //margin-right: 2px !important;
  }

  .commodity-code {
    width: 101px;
    height: 30px;

    .code-text {
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      //margin: 0 !important;

      &:nth-child(2) {
        //margin-left: 2px !important;
        //margin-right: 2px !important;
      }
    }
  }
}
