.tariff-breadcrumbs {
  position: relative;
  padding: 1em;
  margin: 0 0 20px 0;
  background-color: govuk-colour("mid-grey", "grey-4");
  &::after {
    content:"";
    display:block;
    clear:both;
  }
  nav {
    @media (min-width: $desktop-min-width) {
      margin-right: $breadcrumb-changes-link-width;
    }
    ul {
      position: relative;
      list-style: none;
      padding-left: $breadcrumb-indent;
      margin: 0;
      @media (min-width: $desktop-min-width) {
        padding-left: $breadcrumb-indent-desktop;
      }
      li {
        position: relative;
        display: block;
        line-height: 25px;
        margin-top: 5px;
        word-wrap: break-word;
        &::before, &::after {
          content: "";
          position: absolute;
          left: -12px;
        }
        &::before {
          border-top: 1px solid #000;
          top: 9px;
          width: 8px;
          height: 0;
        }
        &::after {
          border-left: 1px solid #000;
          height: 100%;
          width: 0px;
          top: 2px;
        }
        &:last-child::after {
          height: 8px;
        }
        .chapter-code, .heading-code, .commodity-code {
          float: left;
          margin-right: $small-margin;
        }
        &.chapter-and-heading-li {
          .chapter-code {
            margin-right: 0;
          }
        }
        &.commodity-li {
          .chapter-code, .heading-code {
            margin-right: 0;
          }
        }
        ul.commodities {
          padding-left: $breadcrumb-indent;
          @media (min-width: $desktop-min-width) {
            padding-left: $breadcrumb-indent-desktop;
          }
        }
        h1 {
          display: inline;
        }
        p {
          display: inline;
          margin-bottom: 0;
          @include govuk-typography-responsive(16, $important: true);
        }
      }
    }
    @media (max-width: $mobile-max-width) {
      .chapter-code ~ ul ul {
        padding-left: 0;
      }
    }

    .feed {
      display: inline;
      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
      @media (min-width: $desktop-min-width) {
        float: right;
        margin-right: -$breadcrumb-changes-link-width;
        &::before, &::after {
          content: '';
        }
      }
      a {
        background: url('../images/feed-icon-black.png') 0.2em 0.1em no-repeat;
        padding-left: 20px;
        @media (min-width: $desktop-min-width) {
          background: url('../images/feed-icon-black.png') 0.2em 0.2em no-repeat;
          padding-left: 25px;
        }
      }
    }
  }
}

.download-pdf {
  display: inline;
  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
  @media (min-width: $desktop-min-width) {
    float: right;
    margin-right: 0.3em;
    &::before, &::after {
      content: '';
    }
  }
  a {
    background: url('../images/icon-file-download.png') 0.2em 0.1em no-repeat;
    background-size: 14px 14px;
    padding-left: 20px;
    @media (min-width: $desktop-min-width) {
      background: url('../images/icon-file-download.png') 0.2em 0.2em no-repeat;
      background-size: 16px 16px;
      padding-left: 25px;
    }
  }
}
