.desktop-only {
  display: none;
}

@media (min-width: $desktop-min-width) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

.header-wrapper {
  max-width: 1140px !important;
  padding-bottom: 8px;
}

.govuk-header__content {
  #proposition-name {
    margin-bottom: 0;
  }

  #proposition-links {
    margin: 2px 0 0 0;
  }
}

#content,
#global-header-bar,
#global-cookie-message p,
#footer > .govuk-width-container,
.tariff.service.govuk-width-container {
  max-width: 1140px !important;

  @media (min-width: 1020px) {
    margin: 0 30px !important;
  }

  @media (min-width: 1190px) {
    margin: 0 auto !important;
  }
}

.govuk-heading-l a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  @include govuk-link-style-text;
}

#last-updated-at {
  margin-top: 30px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#mask {
  position: fixed;
  top: 0;
  background-color: #333;
  z-index: 5;
  height: 100%;
  width: 100%;
}

// terms
.govuk-warning-text {
  p {
    margin-top: 10px;
  }
}

.js-show {
  display: none;
}

body {
  font-family: $govuk-font-family-gds-transport !important;
}