.header-wrapper {
  max-width: 1170px !important;
  padding-bottom: 8px;
}

.govuk-header__content {
  #proposition-name {
    margin-bottom: 0;
  }

  #proposition-links {
    margin: 2px 0 0 0;
  }
}
