.exchange-rate-page {
  .contents-list {
    font-size: 0.85em;

    h2 {
      margin: 0 0 0.5em;
    }

    @include media(false, $desktop-min-width - 1px) {
      margin-bottom: 2em;
      font-size: 1em;
    }
  }

  .contents-list__list {
    list-style-type: none;

    a {
      text-decoration: none;
      display: inline-block;
      margin: 0 0 0.5em;
    }
  }

  table td,
  table th{
    font-size: 14px;

    @media (max-width: 631px) {
      font-size: 12px;
    }
  }

  [data-sticky-element] {
    transition: all 120ms ease-out;

    &.sticky--hidden {
      opacity: 0;
      visibility: hidden;
    }

    @include media(false, $desktop-min-width - 1px) {
      @include grid-column(1);
      margin: 1em 0;
      position: static;
    }

    @include media (desktop) {
      font-size: 0.85em;

      position: fixed;
      bottom: 20px;
    }
  }

  & + #last-updated-at {
    padding-left: 26%;
    margin-top: 37px;

    @include media(false, $desktop-min-width - 1px) {
      padding-left: 0;
    }
  }
}
