// GOV.UK Frontend Toolkit (alphagov/govuk_frontend_toolkit)
@import 'colours';
@import 'font_stack';
@import 'measurements';
@import 'conditionals';
@import 'device-pixels';
@import 'grid_layout';
@import 'typography';
@import 'shims';

@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';
@import 'design-patterns/breadcrumbs';

// GOV.UK elements (alphagov/govuk_elements)

// Helper functions and classes
@import "elements/helpers";

// Generic (normalize/reset.css)
@import "elements/reset";

// Base (unclassed HTML elements)
// These are predefined by govuk_template
// If you're not using govuk_template, uncomment the line below.
// @import "elements/govuk-template-base"

// Main content container. Grid layout - rows and column widths
@import "elements/layout";

// Components (chunks of UI)
@import "elements/elements-typography";
@import "elements/buttons";
@import "elements/icons";
@import "elements/lists";
@import "elements/tables";
@import "elements/details";
@import "elements/panels";
@import "elements/forms";
@import "elements/forms/form-multiple-choice";
@import "elements/forms/form-date";
@import "elements/forms/form-validation";
@import "elements/breadcrumbs";
@import "elements/phase-banner";
@import "elements/components";
@import "elements/shame";


// Third party
@import "select2";

// Trade Tariff components
@import "variables";
@import "functions";
@import "colors";
// @import "header";
// @import "footer";
@import "grid_extensions";
// @import "commodity-codes";
// @import "tariff-breadcrumbs";
// @import "sections-list";
// @import "tabs";
// @import "tables";
// @import "measures";
// @import "a-z-index";
// @import "country-picker";
// @import "commodity-tree";
// @import "current_rate";
// @import "exchange_rate";
// @import "header_hero";
@import "popup";
@import "search-results";
@import "index-page";
@import "index-page-right-column";
@import "feedback";
@import "quota-search";

.phase-banner  {
  @include phase-banner(beta);
}

.highlight {
  background-color: $focus-colour;
  display: inline;
  vertical-align: top;
}

// Utility classes
strong {
  font-weight: bold;
}

.tel {
  white-space: nowrap;
}

.box {
  background-color: $panel-colour;
  padding: 15px;
  margin-bottom: 1.05263em;
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.heading-large a {
  color: $text-colour;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

section, article {
  margin-bottom: 3em;
}

.desktop-only {
  display: none;
}

@media (min-width: $desktop-min-width) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

// Other
.related-module {
  margin-top: 30px;
}

.button-start {
  @media(max-width: $mobile-max-width) {
    width: auto !important;
    padding: 0.60em 2em 0.45em 0.67em;
  }
}

.visible-print {
  display: none;
  visibility: hidden;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#content,
#global-header-bar,
#global-cookie-message p,
#footer .footer-wrapper {
  max-width: 1140px !important;

  @media (min-width: 1020px) {
    margin: 0 30px !important;
  }

  @media (min-width: 1190px) {
    margin: 0 auto !important;
  }
}

.header-wrapper {
  max-width: 1170px !important;
}
